@import "variables";
@import "fonts";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontF-oswald;
}



h1{
    font-weight: bold;
    font-family: $fontF-cursiva;
    font-size: $font-mobile-large;
}

.bodyMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items:center ;
    min-height: calc(100vh - 22vh);
    max-height: calc(100% - 22vh);
    background-color: $cor-lighter-gray;
}

//Home
.bodyMain{

    .home, .first{
        width: 100%;
    }
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12vh;
        background-color: $cor-light-gray;

        .first{
            display: flex;
            flex-direction: column;
            align-items: center;

            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);

            figure{
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                img{
                    width: 100%;
                    max-width: 2100px;
                    height: auto;
                }
                p{
                    font-family: $fontF-cursiva;
                    padding: 5px 10px;
                    background-color: rgba(0, 0, 0, 0.6);
                    text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);
                    border-radius: 10px;
                    color: white;
                    letter-spacing: 1vw;
                    font-size: 1.5em;
                    position: absolute;
                    align-self: center;
                }
            }
        }
        
        .second{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6vh;
            //
            width: 90%;
            
            .story{
                display: flex;
                flex-direction: column;
                align-items: center;
                //
                padding: 15px;
                background-color: $cor-cinza-claro;
                border-radius: 15px;
                
                h2{
                    text-align: center;
                    font-size: 2.3em;
                    font-family: $fontF-cursiva;
                    margin-bottom: 6vh;
                    text-shadow: 1px 1px 0px rgb(114, 113, 113);
                    i{
                        text-shadow: 2px 2px 0px rgb(114, 113, 113);
                        color: goldenrod;
                    }
                }

                .mix{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    .storyImg{
                        img{
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            margin-bottom: 6vh;
                        }
                    }

                    article{
                        padding: 0px 10px 30px;
                        p{
                            font-size: 1.2em;
                        }
                    }
                }
            }

        } 
        
        .third{
            margin-top: 3vh;
            -webkit-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.75);
            .imgs{
                height: 100%;
                align-items: center;
                position: relative;


                .sunset{
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .buildings{
                    img{
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        height: 130%;                     
                    }
                }
            }
        }
    }

}




//sobre
.bodyMain{
        
        .about{
            margin-top: 2vh;
            margin-bottom: 2vh;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $cor-light-gray;
            border-radius: 5px;
            padding: 10px;
            
            h1{
                font-weight: bold;
                margin-top: 2vh;
                margin-bottom: 2vh;
            }
    
            p{
                font-size: $font-mobile-small;
                font-weight: 550;
                margin-bottom: 2vh;
            }
        }
        .obs{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: $font-smobile-small;
            font-weight: bold;
            background-color: rgba(255, 0, 0, 0.850);
            border: 2.5px solid black;
            padding: 10px;
            width: 100%;
        }
    
}





@media (min-width:480px){
    .bodyMain{

        .home{
        
            .second{
        
                .story{

                    h2{
                        font-size: 3em;
                    }
                }
            }

            .third{
                margin-top: 8vh;
            }
        }
    }

}

@media (min-width:600px){
    .bodyMain{

        .home{
        
            .second{
        
                .story{
                    
                    h2{
                        font-size: 2.5em;
                    }

                }
            }

            .third{
                margin-top: 16vh;
            }
        }
    }

}

@media (min-width:801px){
    .bodyMain{

        .home{
        
            .second{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 6vh;
                //
                width: 90%;

                .storyImg:nth-child(odd){
                    background-color: blue;
                    width: 25%;
                    float: left;
                }

                .storyImg:nth-child(even){
                    width: 25%;
                    background-color: red;
                    float: right;
                }
                
                .story{
                    flex-direction: column;
                    align-items: center;
                    //
                    padding: 15px;
                    
                    h2{
                        text-align: center;
                        font-size: 2.3em;
                        margin-bottom: 6vh;
                    }
    
                    .mix{
                        display: initial;



                        article{
                            padding: 0px 10px 30px;
                            p{
                                font-size: 1.2em;
                            }
                        }
            
                        img{
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            margin-bottom: 6vh;
                        }
                    }
                }
    
            } 

            .third{
                margin-top: 24vh;
            }
        }
    }

}