@import "variables";
@import "fonts";

.bodyMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 27vh);
    max-height: calc(100% - 27vh);   
    align-items:center ;
    background-color: #ffe9d1;
    background-color: #fdeedd;
    background-color: white;
}