@import "variables";
@import "fonts";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontF-oswald;
}



h1{
    font-family: $fontF-cookie;
    font-size: $font-mobile-large;
}

.bodyMain{
    display: flex;
    flex-direction: column;
    align-items:center ;
    min-height: calc(100vh - 22vh);
    max-height: calc(100% - 22vh);
    background-color: $cor-lighter-gray;
}

//sobre
.bodyMain{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;   
        
        .about{
            margin-top: 2vh;
            margin-bottom: 2vh;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $cor-light-gray;
            border-radius: 5px;
            padding: 10px;
            
            h1{
                font-weight: bold;
                margin-top: 2vh;
                margin-bottom: 2vh;
            }
    
            p{
                font-size: $font-mobile-small;
                font-weight: 550;
                margin-bottom: 2vh;
            }
        }
        .obs{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: $font-smobile-small;
            font-weight: bold;
            background-color: rgba(255, 0, 0, 0.850);
            border: 2.5px solid black;
            padding: 10px;
            width: 100%;
        }
    
}





@media(min-height:720px){
    
}