@import "variables";


.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 7vh;
    background-color: black;
    p{
        font-size: 1.6em;
        font-weight: 590;
    }
    .social{
        display: flex;
        gap: 20px;
        font-size: $font-smobile-large;

        a{
            text-decoration: none;
            transition: all 1s;
            color: white;
        }

        a:hover{
            transform: scale(1.2);
        }

        .fa-linkedin:hover{
            color:#0e76a8 ;
        }

        .fa-github-square:hover{
            color: #9b31c9;
        }
        
    }
}

@media(min-height:520px){

}