@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b89571;
    justify-content: space-around;
    height: 20vh;
    
    .navBar{
        width: 100%;
        height: 35%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #ffe9d1;

        a{
            width: 25%;
            height: 80%;
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
            color: #212529;
            padding: 5px 10px;
            border: 1px solid #212529;
            border-radius: 0.2em;
            transition:  all 0.7s;

            //Pra centralizar
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        a:hover{
            color: #DEE2E6;
            background-color: #212529;
        }
    }
    
    .secondRow{
        width: 100%;
        height: 65%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .number{
            a{
                color: #212529;
                font-weight: bold;
                text-decoration: none;
            }
            a:hover{
                text-decoration:underline;
            }
        }

        .contato{
            font-size: $font-smobile-small;
        }
        .numero{
            text-decoration: none;
            display: block;
            font-size: 1.2em;

        }
    }
}


@media (min-width:480px){

    .header {

        .navBar{

            a{
                width: 18%;
                height: 70%;
                padding: 10px 10px;
                font-size: 1.2em;
            }
        }

    }
}
@media (min-width:600px){

    .header {

        .navBar{

            a{
                width: 16%;
            }
        }

    }
}
@media (min-width:801px){

    .header {

        .navBar{

            a{
                width: 14%;
            }
        }

    }
}
@media (min-width:1020px){

    .header {

        .navBar{

            a{
                width: 14%;
                height: 80%;
                padding: 10px 10px;

                font-size: 1.4em;
            }
        }
        .secondRow{

            .contato{
                font-size: 1.2em;
            }
            .numero{
                text-decoration: black;
                display: block;
                font-size: 1.4em;
    
            }
        }

    }
}
@media (min-width:1481px){

    .header {

        .navBar{

            a{
                width: 14%;
                height: 80%;
                padding: 10px 10px;

                font-size: 1.8em;
            }
        }

        .secondRow{

            .contato{
                font-size: 1.6em;
            }
            .numero{
                text-decoration: black;
                display: block;
                font-size: 1.8em;
    
            }
        }

    }
}