//Colors
$cor-cinza-claro:  #e0e0e0;
$cor-cinza-medio: #a0a0a0;
$cor-cinza-escuro: #707070;

$cor-light-gray:rgba(128, 128, 128, 0.12);
$cor-lighter-gray:rgba(128, 128, 128, 0.05);


//Font Size
$font-smobile-small: 1em;
$font-smobile-medium: 1.2em;
$font-smobile-large: 1.5em;

$font-mobile-small: 1.4em;
$font-mobile-medium: 2em;
$font-mobile-large: 3.5em;

//FontFamily
$fontF-cookie:'Cookie', 'cursive', "Arial"; 
$fontF-oswald:"Oswald", "Arial"; 
